services:
  mysql:
    image: mysql:latest
    container_name: mysql
    environment:
      MYSQL_USER: bn_myapp
      MYSQL_PASSWORD: bn_myapp
      MYSQL_DATABASE: bitnami_myapp
      MYSQL_ALLOW_EMPTY_PASSWORD: true
    volumes:
      - mysql_data:/bitnami/mysql
    networks:
      - laravel-network

  redis:
    image: redis:latest
    container_name: redis
    hostname: redis
    environment:
      redis-server: /usr/local/etc/redis/redis.conf
    volumes:
      - redis_data:/usr/local/etc/redis
    networks:
       - laravel-network

  laravel:
    image: bitnami/laravel:latest
    container_name: laravel
    ports:
      - "8000:8000"
    environment:
      DB_HOST: mysql
      DB_PORT: 3306
      DB_USERNAME: bn_myapp
      DB_PASSWORD: bn_myapp
      DB_DATABASE: bitnami_myapp
      REDIS_HOST: redis
      REDIS_PASSWORD: null
      REDIS_PORT: 6379
    volumes:
      - ./my-project:/app
    depends_on:
      - mysql
      - redis
    networks:
      - laravel-network

volumes:
  mysql_data:
  redis_data:

networks:
  laravel-network:
    driver: bridge
